# Host port bound to the API container:
APPLICATION_BIND_PORT=3000
# API container port:
APPLICATION_PORT=3000

# JWT secret used to sign access tokens:
JWT_SECRET=
# JWT secret used to sign refresh tokens:
JWT_REFRESH_SECRET=
# JWT access token expiration time (e.g., '1d' for 1 day, '2h' for 2 hours):
JWT_EXPIRES_IN=1d
# JWT refresh token expiration time (e.g., '7d' for 7 days, '1m' for 1 month):
JWT_REFRESH_EXPIRES_IN=7d

# MongoDB database URI:
DATABASE_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/fitematch?retryWrites=true&w=majority
# MongoDB database schema:
DATABASE_NAME=fitematch

# Email provider driver:
EMAIL_PROVIDER_DRIVER=aws-ses
# AWS SES region:
AWS_REGION=sa-east-1
# The email address that will appear as the sender in AWS SES emails:
AWS_SES_FROM_EMAIL=
# The name that will appear as the sender in the emails sent by AWS SES:
AWS_SES_FROM_NAME=fitematch Team

# File upload provider driver:
UPLOAD_PROVIDER_DRIVER=s3
# AWS S3 bucket name:
AWS_S3_BUCKET=fitematch-production
# AWS S3 region:
AWS_S3_REGION=sa-east-1
# The base URL that will be used to access uploaded files when using the AWS S3 upload provider:
AWS_S3_PUBLIC_BASE_URL=https://fitematch-production.s3.sa-east-1.amazonaws.com

# Activation code expiration time in minutes:
ACTIVATION_CODE_EXPIRES_IN_MINUTES=60
