APPLICATION_BIND_PORT=3000
APPLICATION_PORT=3000
JWT_SECRET=dev-secret-change-me
JWT_REFRESH_SECRET=refresh-secret-change-me
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
DATABASE_URI=mongodb://database:27017/fitematch
DATABASE_NAME=fitematch
DATABASE_BIND_PORT=27017
DATABASE_PORT=27017
EMAIL_PROVIDER_DRIVER=mailtrap
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=
MAILTRAP_PASSWORD=
MAILTRAP_SENDER_EMAIL=sandbox@fitematch.local
MAILTRAP_SENDER_NAME=fitematch Team

UPLOAD_PROVIDER_DRIVER=local
UPLOAD_LOCAL_BASE_PATH=./uploads
UPLOAD_PUBLIC_BASE_URL=http://localhost:3000/uploads

ACTIVATION_CODE_EXPIRES_IN_MINUTES=60
