APPLICATION_BIND_PORT=3000
APPLICATION_PORT=3000

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

DATABASE_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/fitematch?retryWrites=true&w=majority
DATABASE_NAME=fitematch

EMAIL_PROVIDER_DRIVER=aws-ses
AWS_REGION=sa-east-1
AWS_SES_FROM_EMAIL=
AWS_SES_FROM_NAME=fitematch Team

UPLOAD_PROVIDER_DRIVER=s3
AWS_S3_BUCKET=
AWS_S3_REGION=sa-east-1
AWS_S3_PUBLIC_BASE_URL=

ACTIVATION_CODE_EXPIRES_IN_MINUTES=60
